[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
python-dotenv = "0.21.0"
postgres-database-utils = "*"
flask-cors = "*"

[dev-packages]
pytest = "==7.2.0"
ruff = "*"

[requires]
python_version = "3.10"
